<section class="section_callback">
  <div class="callback_wrap">
    <picture class="callback_img">
      <source
        srcset="
          ./images/callback/callback_desktop.jpg    1x,
          ./images/callback/callback_desktop@2x.jpg 2x
        "
        media="(min-width: 1360px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/callback/callback_tablet.jpg    1x,
          ./images/callback/callback_tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/callback/callback_mobile.jpg    1x,
          ./images/callback/callback_mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
        type="image/jpeg"
      />
      <img
        src="./images/callback/callback_desktop.jpg"
        width="1360"
        alt="callback"
      />
    </picture>
    <div class="form_wrap">
      <h2 class="form_title">Request Callback</h2>
      <form class="callback_form">
        <div class="form_field">
          <input
            type="text"
            name="name"
            id="name"
            required
            class="form_input"
            placeholder=" "
          />
          <label for="name" class="form_label">Enter your name</label>
        </div>
        <div class="form_field">
          <input
            type="email"
            name="email"
            id="email"
            required
            class="form_input"
            placeholder=" "
          />
          <label for="email" class="form_label">Enter email*</label>
        </div>
        <button type="submit" class="btn form_btn">Send</button>
      </form>
    </div>
  </div>
</section>
