<footer class="footer">
  <ul class="list footer_socnetworks">
    <li class="socnetworks_icon">
      <a
        href=""
        class="socnetworks_link"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="facebook"
      >
        <svg width="35px" height="35px">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="socnetworks_icon">
      <a
        href=""
        class="socnetworks_link"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="twitter"
        ><svg width="35px" height="35px">
          <use href="./images/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="socnetworks_icon">
      <a
        href=""
        class="socnetworks_link"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="utub"
        ><svg width="40px" height="35px">
          <use href="./images/symbol-defs.svg#icon-utub"></use>
        </svg>
      </a>
    </li>
    <li class="socnetworks_icon">
      <a
        href=""
        class="socnetworks_link"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="linkedin"
        ><svg width="31px" height="35px">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="footer_copyright">Copyright &copy; 2021 - FinanceLedger</p>
</footer>
