<header class="header">
  <nav class="header_nav">
    <div class="header_logo">
      <svg width="40px" height="35px">
        <use href="./images/symbol-defs.svg#icon-book-open"></use>
      </svg>
      <a
        href="./"
        rel="noreferrer noopener"
        aria-label="logo"
        class="link logo_link"
        >Finance
        <span class="part-logo">Ledger</span>
      </a>
    </div>
    <div class="header_menu">
      <ul class="list menu_list">
        <li class="menu_item">
          <a href="" class="link menu_link">Home</a>
        </li>
        <li class="menu_item">
          <a href="" class="link menu_link">About</a>
        </li>
        <li class="menu_item">
          <a href="" class="link menu_link">Cases</a>
        </li>
        <li class="menu_item">
          <a href="" class="link menu_link">Blog</a>
        </li>
        <li class="menu_item">
          <a href="" class="link menu_link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
