<section class="section_our-team">
  <p class="our-team_label">Who we are</p>
  <h2 class="our-team_title">Our Professional Team</h2>
  <p class="our-team_label">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <div class="list_wrap">
    <ul class="list our-team_list">
      <li class="item">
        <div class="img_wrap">
          <picture class="our-team_img">
            <source
              srcset="
                ./images/our-team/John_desktop.jpg    1x,
                ./images/our-team/John_desktop@2x.jpg 2x
              "
              media="(min-width: 1360px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-team/John_tablet.jpg    1x,
                ./images/our-team/John_tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-team/John_mobile.jpg    1x,
                ./images/our-team/John_mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./images/our-team/John_desktop.jpg" alt="John Doe" />
          </picture>
          <ul class="list our-team_socnetworks">
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="facebook"
              >
                <svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="twitter"
                ><svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="utub"
                ><svg width="40px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-utub"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="linkedin"
                ><svg width="31px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="item_name">John Doe</p>
        <p class="item_profession">President</p>
      </li>
      <li class="item">
        <div class="img_wrap">
          <picture class="our-team_img">
            <source
              srcset="
                ./images/our-team/Jane_desktop.jpg    1x,
                ./images/our-team/Jane_desktop@2x.jpg 2x
              "
              media="(min-width: 1360px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-team/Jane_tablet.jpg    1x,
                ./images/our-team/Jane_tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-team/Jane_mobile.jpg    1x,
                ./images/our-team/Jane_mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./images/our-team/Jane_desktop.jpg" alt="Jane Doe" />
          </picture>
          <ul class="list our-team_socnetworks">
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="facebook"
              >
                <svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="twitter"
                ><svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="utub"
                ><svg width="40px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-utub"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="linkedin"
                ><svg width="31px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="item_name">Jane Doe</p>
        <p class="item_profession">Vice President</p>
      </li>
      <li class="item">
        <div class="img_wrap">
          <picture class="our-team_img">
            <source
              srcset="
                ./images/our-team/Steve_desktop.jpg    1x,
                ./images/our-team/Steve_desktop@2x.jpg 2x
              "
              media="(min-width: 1360px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-team/Steve_tablet.jpg    1x,
                ./images/our-team/Steve_tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-team/Steve_mobile.jpg    1x,
                ./images/our-team/Steve_mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img src="./images/our-team/Steve_desktop.jpg" alt="Jane Doe" />
          </picture>
          <ul class="list our-team_socnetworks">
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="facebook"
              >
                <svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="twitter"
                ><svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="utub"
                ><svg width="40px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-utub"></use>
                </svg>
              </a>
            </li>
            <li class="socnetworks_icon">
              <a
                href=""
                class="socnetworks_link"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="linkedin"
                ><svg width="31px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="item_name">Steve Smith</p>
        <p class="item_profession">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
