.btn {
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--fontColor)
}

.hero_btn {
    display: flex;
    align-items: center;
    background-color: var(--btnColor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--hoverColor);
    }
}

.btn-read {
    margin-top: 24px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--bgBodyColor);
            border-color: var(--btnColor);
            color: var(--btnColor);
        }
}

.btn-blog {
    margin-top: 24px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #FFFFFF;
        border-color: #0284D0;
        color: #0284D0;
    }
}

.form_btn {
    margin-top: 24px;
    padding: 16px 56px;
    background-color: var(--btnColor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--hoverColor);
    }
}