.callback_wrap {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
    }
}

.callback_img {
    width: 320px;

    @media screen and (min-width: $tablet) {
        width: 368px;
    }
    @media screen and (min-width: $desktop) {
        width: 670px;
    }
}

.form_wrap {
    flex-grow: 1;
    background-color: #F4F4F4;
    padding: 51px 20px 25px 20px;

    @media screen and (min-width: $tablet) {
        padding: 32px;
    }
    @media screen and (min-width: $desktop) {
        padding: 56px 28px 77px 20px;
    }
}

.form_title {
    font-size: 32px;
    line-height: 1.375;
    font-weight: 400;
    color: var(--accentColor);
    margin-bottom: 69px;

    @media screen and (min-width: $tablet) {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 24px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 30px;
    }
}

.form_field {
    position: relative;
    &:first-child {
        margin-bottom: 16px;
    }

}

.form_input {
    width: 100%;
    padding: 16px 8px;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--placeholderColor);

    @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: 1.1388;
    }

    &:focus {
    border: 1px solid #F5F5F5;
    }
}

.form_label {
    position: absolute;
    top: 16px;
    left: 8px;
    font-size: 16px;
    line-height: 1.4;
    color: var(--placeholderColor);
    transition: transform .1s ease-in-out;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: 1.1388;
        }
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    background-color: #fff;
    font-size: 14px;
    padding: 0 5px;
    transform: translateY(-28px);
}